@model PremiumCalculator.UI.Calculator.Models.ViewModel.PremiumViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Calculate", "Home", null, FormMethod.Post, true, new { @id = "Calculate", @name = "Calculate" }))
        {
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header" id="divMessage">
                    <div class="card-title">Premium Calculator</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.Label("", "Name *", new { id = "star", @class = "text" })
                        @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control txtOnly", @placeholder = "Name" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Age, "Age", new { @class = "form-control", @placeholder = "Age", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group date">
                        @Html.Label("", "Date of Birth *", new { id = "star", @class = "text" })
                        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @placeholder = "DD/MM/YYYY" })
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Occupation *", new { id = "star", @class = "text" })
                        @Html.DropDownListFor(x => Model.FactorRating, new SelectList(Model.Occupation, "FactorValue", "OccupationName"),
                       "--Select--", htmlAttributes: new { @class = "form-control", id = "Occupation"})
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Death – Sum Insured *", new { id = "star", @class = "text" })
                        @Html.TextBoxFor(m => m.SumInsured, new { @class = "form-control", @placeholder = "$" })
                    </div>
                    <div class="form-group mr-2">
                        <input type="submit" name="submit" class="btn btn-primary" value="Calculate" />
                        <span> </span>
                        <input type="reset" name="reset" id="btnClear" class="btn btn-outline-primary float-right" value="Reset" />
                    </div>
                    <div class="form-group mr-2" id="divResult">
                        <partial name="_Result" >
                    </div>
                </div>
            </div>
        }
    </div>
</div>